@model HR_menager.Models.Zaposlenik

@{
    ViewData["Title"] = "Izbriši zaposlenika";
}

<h2>Želite li izbrisati zaposlenika?</h2>

<div>
    <h4>Zaposlenik</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Šifra zaposlenika:</dt>
        <dd>@Model.Id</dd>

        <dt>Ime:</dt>
        <dd>@Model.Ime</dd>

        <dt>Prezime:</dt>
        <dd>@Model.Prezime</dd>

        <dt>Broj Telefona:</dt>
        <dd>@Model.BrojTelefona</dd>

        <dt>Radno Mjesto:</dt>
        <dd>@ViewBag.RadnoMjesto</dd>
    </dl>
</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Izbriši</button>
    <a asp-action="Index" class="btn btn-secondary">Odustani</a>
</form>

